<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tx/h012_b_spell_tx_00.png</key>
			<dict>
				<key>width</key>
				<integer>221</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>269</integer>
				<key>originalHeight</key>
				<integer>269</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>tx/h012_b_spell_tx_01.png</key>
			<dict>
				<key>width</key>
				<integer>207</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>269</integer>
				<key>originalHeight</key>
				<integer>269</integer>
				<key>x</key>
				<integer>222</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>tx/h012_b_spell_tx_02.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>269</integer>
				<key>originalHeight</key>
				<integer>269</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>41.5</real>
				<key>offsetY</key>
				<real>26.5</real>
			</dict>
			<key>tx/h012_b_spell_tx_03.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>269</integer>
				<key>originalHeight</key>
				<integer>269</integer>
				<key>x</key>
				<integer>171</integer>
				<key>y</key>
				<integer>232</integer>
				<key>offsetX</key>
				<real>25.5</real>
				<key>offsetY</key>
				<real>59.5</real>
			</dict>
			<key>tx/h012_b_spell_tx_04.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>269</integer>
				<key>originalHeight</key>
				<integer>269</integer>
				<key>x</key>
				<integer>171</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>80</real>
			</dict>
			<key>tx/h012_b_spell_tx_05.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>269</integer>
				<key>originalHeight</key>
				<integer>269</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>429</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>85.5</real>
			</dict>
			<key>stand_0/stand_a/h012_a_0_stand_001.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>430</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>stand_0/stand_a/h012_a_0_stand_002.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>430</integer>
				<key>y</key>
				<integer>123</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-23.5</real>
			</dict>
			<key>stand_0/stand_a/h012_a_0_stand_003.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>358</integer>
				<key>y</key>
				<integer>232</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>stand_0/stand_a/h012_a_0_stand_004.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-23.5</real>
			</dict>
			<key>stand_0/stand_a/h012_a_0_stand_005.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>358</integer>
				<key>y</key>
				<integer>353</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>stand_0/stand_a/h012_a_0_stand_006.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>365</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>stand_0/stand_a/h012_a_0_stand_007.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>461</integer>
				<key>y</key>
				<integer>365</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-24.5</real>
			</dict>
			<key>stand_0/stand_a/h012_a_0_stand_008.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>481</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-24.5</real>
			</dict>
			<key>stand_0/stand_a/h012_a_0_stand_009.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>532</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>stand_0/stand_a/h012_a_0_stand_010.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>582</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>stand_0/stand_b/h012_b_0_stand_001.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>123</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>stand_0/stand_b/h012_b_0_stand_002.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>633</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>stand_0/stand_b/h012_b_0_stand_003.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>553</integer>
				<key>y</key>
				<integer>123</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>stand_0/stand_b/h012_b_0_stand_004.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>stand_0/stand_b/h012_b_0_stand_005.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>462</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>stand_0/stand_b/h012_b_0_stand_006.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>633</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>stand_0/stand_b/h012_b_0_stand_007.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>776</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>stand_0/stand_b/h012_b_0_stand_008.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>535</integer>
				<key>y</key>
				<integer>234</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>stand_0/stand_b/h012_b_0_stand_009.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>707</integer>
				<key>y</key>
				<integer>109</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>stand_0/stand_b/h012_b_0_stand_010.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>608</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>stand_0/stand_c/h012_c_0_stand_001.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>849</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>stand_0/stand_c/h012_c_0_stand_002.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>353</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>stand_0/stand_c/h012_c_0_stand_003.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>780</integer>
				<key>y</key>
				<integer>107</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>stand_0/stand_c/h012_c_0_stand_004.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>679</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>stand_0/stand_c/h012_c_0_stand_005.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>424</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>stand_0/stand_c/h012_c_0_stand_006.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>679</integer>
				<key>y</key>
				<integer>288</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>stand_0/stand_c/h012_c_0_stand_007.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>897</integer>
				<key>y</key>
				<integer>71</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>stand_0/stand_c/h012_c_0_stand_008.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>797</integer>
				<key>y</key>
				<integer>178</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>stand_0/stand_c/h012_c_0_stand_009.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>630</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>stand_0/stand_c/h012_c_0_stand_010.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>629</integer>
				<key>y</key>
				<integer>426</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>walk_0/walk_a/h012_a_0_walk_001.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>798</integer>
				<key>y</key>
				<integer>247</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
			<key>walk_0/walk_a/h012_a_0_walk_002.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>916</integer>
				<key>y</key>
				<integer>140</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-25</real>
			</dict>
			<key>walk_0/walk_a/h012_a_0_walk_003.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>848</integer>
				<key>y</key>
				<integer>247</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>walk_0/walk_a/h012_a_0_walk_004.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>967</integer>
				<key>y</key>
				<integer>140</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-24.5</real>
			</dict>
			<key>walk_0/walk_a/h012_a_0_walk_005.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>749</integer>
				<key>y</key>
				<integer>374</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-26.5</real>
			</dict>
			<key>walk_0/walk_a/h012_a_0_walk_006.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>806</integer>
				<key>y</key>
				<integer>374</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-29</real>
			</dict>
			<key>walk_0/walk_a/h012_a_0_walk_007.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>868</integer>
				<key>y</key>
				<integer>374</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>walk_0/walk_a/h012_a_0_walk_008.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>929</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-25</real>
			</dict>
			<key>walk_0/walk_a/h012_a_0_walk_009.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>walk_0/walk_a/h012_a_0_walk_010.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>57</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-25</real>
			</dict>
			<key>walk_0/walk_b/h012_b_0_walk_001.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>walk_0/walk_b/h012_b_0_walk_002.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>619</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>walk_0/walk_b/h012_b_0_walk_003.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>473</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>walk_0/walk_b/h012_b_0_walk_004.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>walk_0/walk_b/h012_b_0_walk_005.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>718</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>walk_0/walk_b/h012_b_0_walk_006.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>575</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-24.5</real>
			</dict>
			<key>walk_0/walk_b/h012_b_0_walk_007.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>walk_0/walk_b/h012_b_0_walk_008.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>818</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>walk_0/walk_b/h012_b_0_walk_009.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>walk_0/walk_b/h012_b_0_walk_010.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>309</integer>
				<key>y</key>
				<integer>474</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>walk_0/walk_c/h012_c_0_walk_001.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>309</integer>
				<key>y</key>
				<integer>573</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>walk_0/walk_c/h012_c_0_walk_002.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>795</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>walk_0/walk_c/h012_c_0_walk_003.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>922</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>walk_0/walk_c/h012_c_0_walk_004.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>309</integer>
				<key>y</key>
				<integer>626</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>walk_0/walk_c/h012_c_0_walk_005.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>95</integer>
				<key>y</key>
				<integer>848</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>walk_0/walk_c/h012_c_0_walk_006.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>302</integer>
				<key>y</key>
				<integer>686</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>walk_0/walk_c/h012_c_0_walk_007.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>302</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>walk_0/walk_c/h012_c_0_walk_008.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>904</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>walk_0/walk_c/h012_c_0_walk_009.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>438</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>walk_0/walk_c/h012_c_0_walk_010.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>430</integer>
				<key>y</key>
				<integer>552</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>attack_0/attack_a/h012_a_0_attack_002.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>559</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-28.5</real>
			</dict>
			<key>attack_0/attack_a/h012_a_0_attack_003.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>438</integer>
				<key>y</key>
				<integer>606</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-28</real>
			</dict>
			<key>attack_0/attack_a/h012_a_0_attack_004.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>794</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-32</real>
			</dict>
			<key>attack_0/attack_a/h012_a_0_attack_005.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>321</integer>
				<key>y</key>
				<integer>794</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>attack_0/attack_a/h012_a_0_attack_006.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>614</integer>
				<key>y</key>
				<integer>495</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>attack_0/attack_a/h012_a_0_attack_007.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>717</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>attack_0/attack_a/h012_a_0_attack_008.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>907</integer>
				<key>offsetX</key>
				<real>27.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>attack_0/attack_a/h012_a_0_attack_009.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>504</integer>
				<key>y</key>
				<integer>614</integer>
				<key>offsetX</key>
				<real>28</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>attack_0/attack_a/h012_a_0_attack_010.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>614</integer>
				<key>offsetX</key>
				<real>26.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>attack_0/attack_a/h012_a_0_attack_011.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>389</integer>
				<key>y</key>
				<integer>800</integer>
				<key>offsetX</key>
				<real>21</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>attack_0/attack_a/h012_a_0_attack_012.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>attack_0/attack_b/h012_b_0_attack_002.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>904</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>attack_0/attack_b/h012_b_0_attack_003.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>726</integer>
				<key>y</key>
				<integer>500</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>attack_0/attack_b/h012_b_0_attack_004.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>800</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>attack_0/attack_b/h012_b_0_attack_005.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>687</integer>
				<key>y</key>
				<integer>595</integer>
				<key>offsetX</key>
				<real>-19.5</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>attack_0/attack_b/h012_b_0_attack_006.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>814</integer>
				<key>y</key>
				<integer>498</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>attack_0/attack_b/h012_b_0_attack_007.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>902</integer>
				<key>offsetX</key>
				<real>32.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>attack_0/attack_b/h012_b_0_attack_008.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>647</integer>
				<key>y</key>
				<integer>694</integer>
				<key>offsetX</key>
				<real>33</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>attack_0/attack_b/h012_b_0_attack_009.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>777</integer>
				<key>offsetX</key>
				<real>33</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>attack_0/attack_b/h012_b_0_attack_010.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>777</integer>
				<key>y</key>
				<integer>589</integer>
				<key>offsetX</key>
				<real>31.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>attack_0/attack_b/h012_b_0_attack_011.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>845</integer>
				<key>offsetX</key>
				<real>23</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>attack_0/attack_b/h012_b_0_attack_012.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>777</integer>
				<key>y</key>
				<integer>657</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>attack_0/attack_c/h012_c_0_attack_002.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>679</integer>
				<key>y</key>
				<integer>762</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>attack_0/attack_c/h012_c_0_attack_003.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>895</integer>
				<key>y</key>
				<integer>565</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>attack_0/attack_c/h012_c_0_attack_004.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>541</integer>
				<key>y</key>
				<integer>925</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>attack_0/attack_c/h012_c_0_attack_005.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>895</integer>
				<key>y</key>
				<integer>635</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>attack_0/attack_c/h012_c_0_attack_006.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>929</integer>
				<key>y</key>
				<integer>395</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>attack_0/attack_c/h012_c_0_attack_007.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>697</integer>
				<key>y</key>
				<integer>829</integer>
				<key>offsetX</key>
				<real>32.5</real>
				<key>offsetY</key>
				<real>-30</real>
			</dict>
			<key>attack_0/attack_c/h012_c_0_attack_008.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>895</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>34</real>
				<key>offsetY</key>
				<real>-33.5</real>
			</dict>
			<key>attack_0/attack_c/h012_c_0_attack_009.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>813</integer>
				<key>y</key>
				<integer>802</integer>
				<key>offsetX</key>
				<real>33.5</real>
				<key>offsetY</key>
				<real>-33.5</real>
			</dict>
			<key>attack_0/attack_c/h012_c_0_attack_010.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>813</integer>
				<key>y</key>
				<integer>904</integer>
				<key>offsetX</key>
				<real>29.5</real>
				<key>offsetY</key>
				<real>-33.5</real>
			</dict>
			<key>attack_0/attack_c/h012_c_0_attack_012.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>927</integer>
				<key>y</key>
				<integer>802</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-28.5</real>
			</dict>
			<key>spell_0/spell_a/h012_a_0_spell_003.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>663</integer>
				<key>y</key>
				<integer>928</integer>
				<key>offsetX</key>
				<real>28</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>spell_0/spell_a/h012_a_0_spell_008.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>927</integer>
				<key>y</key>
				<integer>914</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>-30</real>
			</dict>
			<key>attack_0/attack_d/h012_d_0_attack_008.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>750</integer>
				<key>y</key>
				<integer>928</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>walk_0/walk_e/h012_e_0_walk_001.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>960</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>spell_1 _0/spell_1_a/h012_a_0_spell_1_004.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>952</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>h0120.png</string>
			<key>realTextureFileName</key>
			<string>h0120.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>